{
  "LambdaFunctionConfigurations": [
    {
      "Id": "{{ Id }}",
      "LambdaFunctionArn": "{{ LambdaFunctionArn }}",
      "Events": [
        {% for e in Events %}
        "{{ e }}"{{ ',' if not loop.last else '' }}
        {% endfor %}
      ]
    }
  ]
}
